<%- include('./includes/head.ejs') %>

<%- include('./includes/navbar.ejs') %>

<div class="uk-container uk-container-large uk-margin-top uk-flex uk-flex-right">
  <a class="uk-button uk-button-primary" href="/register">Register new order</a>
</div>

<div class="uk-container uk-container-large uk-margin-top uk-flex uk-flex-center">

  <div class="uk-child-width-1-3@s uk-width-expand" uk-grid>
  <div class="uk-width-expand">
        <h2 class="uk-text-center">ORDERS</h2>
        <div uk-sortable="group: sortable-group">

          <% allOrders.forEach(order => {%>

            <div class="uk-margin uk-background-muted">

                <div class="uk-card uk-card-default uk-card-body uk-card-small">

                  <table class="uk-table">
                    <thead>
                        <tr>
                            <th>DeliveryGuy name</th>
                            <th>Client name</th>
                            <th>Client Address</th>
                            <th>Order</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h4><%= user.name %></h4></td>
                            <td><%= order.client_name %></td>
                            <td><%= order.client_address %></td>
                            <td><%= order.order %></td>
                            <td><%= order.price %> R$</td>
                            <td><a class="uk-link-text uk-text-primary" href="/register/index/<%= order._id %>">Edit</a></td>
                            <td><a class="uk-link-text uk-text-danger" href="/register/delete/<%= order._id %>">Delete</a></td>
                        </tr>
                    </tbody>
                  </table>

                </div>

            </div>
          <% })%>
        </div>



</div>

<%- include('./includes/footer.ejs') %>
